@model KurumsalProje.ViewModels.RouteViewModel.RouteViewModel

<h2>Rota Güncelle</h2>
<br />

<form asp-action="Edit" method="post">
    <!-- Gizli Alanlar -->
    <input type="hidden" id="COMCODE" name="COMCODE" value="@Model.COMCODE" />
    <input type="hidden" id="ROTDOCTYPE" name="ROTDOCTYPE" value="@Model.ROTDOCTYPE" />
    <input type="hidden" id="ROTDOCNUM" name="ROTDOCNUM" value="@Model.ROTDOCNUM" />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ROTDOCFROM">Geçerlilik Başlangıç</label>
                <input type="date" id="ROTDOCFROM" name="ROTDOCFROM" class="form-control" value="@Model.ROTDOCFROM.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ROTDOCUNTIL">Geçerlilik Bitiş</label>
                <input type="date" id="ROTDOCUNTIL" name="ROTDOCUNTIL" class="form-control" value="@Model.ROTDOCUNTIL.ToString("yyyy-MM-dd")" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="MATDOCTYPE">Malzeme Tipi</label>
                <select id="MATDOCTYPE" name="MATDOCTYPE" class="form-control">
                    <option value="">Seçiniz</option>
                    @foreach (var item in ViewBag.MATDOCTYPEList as List<SelectListItem>)
                    {
                        <option value="@item.Value" @(item.Value == Model.MATDOCTYPE ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="MATDOCNUM">Malzeme Kodu</label>
                <input type="text" id="MATDOCNUM" name="MATDOCNUM" class="form-control" value="@Model.MATDOCNUM" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="QUANTITY">Miktar</label>
                <input type="number" id="QUANTITY" name="QUANTITY" class="form-control" value="@string.Format("{0:0.###}", Model.QUANTITY)" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="DRAWNUM">Çizim Numarası</label>
                <input type="text" id="DRAWNUM" name="DRAWNUM" class="form-control" value="@Model.DRAWNUM" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ISPASSIVE">Pasif mi?</label>
                <select id="ISPASSIVE" name="ISPASSIVE" class="form-control">
                    <option value="0" @(Model.ISPASSIVE == 0 ? "selected" : "")>Hayır</option>
                    <option value="1" @(Model.ISPASSIVE == 1 ? "selected" : "")>Evet</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ISDELETED">Silindi mi?</label>
                <select id="ISDELETED" name="ISDELETED" class="form-control">
                    <option value="0" @(Model.ISDELETED == 0 ? "selected" : "")>Hayır</option>
                    <option value="1" @(Model.ISDELETED == 1 ? "selected" : "")>Evet</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="OPRNUM">Operasyon Numarası</label>
                <input type="number" id="OPRNUM" name="OPRNUM" class="form-control" value="@Model.OPRNUM" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="OPRDOCTYPE">Operasyon Kodu</label>
                <select id="OPRDOCTYPE" name="OPRDOCTYPE" class="form-control">
                    <option value="">Seçiniz</option>
                    @foreach (var item in ViewBag.OPRDOCTYPEList as List<SelectListItem>)
                    {
                        <option value="@item.Value" @(item.Value == Model.OPRDOCTYPE ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="WCMDOCTYPE">İş Merkezi Tipi</label>
                <select id="WCMDOCTYPE" name="WCMDOCTYPE" class="form-control">
                    <option value="">Seçiniz</option>
                    @foreach (var item in ViewBag.WCMDOCTYPEList as List<SelectListItem>)
                    {
                        <option value="@item.Value" @(item.Value == Model.WCMDOCTYPE ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="WCMDOCNUM">İş Merkezi Kodu</label>
                <input type="text" id="WCMDOCNUM" name="WCMDOCNUM" class="form-control" value="@Model.WCMDOCNUM" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="SETUPTIME">Operasyon Hazırlık Süresi</label>
                <input type="number" id="SETUPTIME" name="SETUPTIME" class="form-control" value="@string.Format("{0:0.###}", Model.SETUPTIME)" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="MACHINETIME">Operasyon Makine Süresi</label>
                <input type="number" id="MACHINETIME" name="MACHINETIME" class="form-control" value="@string.Format("{0:0.###}", Model.MACHINETIME)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="LABOURTIME">Operasyon İşçilik Süresi</label>
                <input type="number" id="LABOURTIME" name="LABOURTIME" class="form-control" value="@string.Format("{0:0.###}", Model.LABOURTIME)" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="CONTENTNUM">İçerik Numarası</label>
                <input type="number" id="CONTENTNUM" name="CONTENTNUM" class="form-control" value="@Model.CONTENTNUM" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="COMPONENT">Bileşen</label>
                <input type="text" id="COMPONENT" name="COMPONENT" class="form-control" value="@Model.COMPONENT" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="BOMDOCTYPE">Ürün Ağacı Tipi</label>
                <select id="BOMDOCTYPE" name="BOMDOCTYPE" class="form-control">
                    <option value="">Seçiniz</option>
                    @foreach (var item in ViewBag.BOMDOCTYPEList as List<SelectListItem>)
                    {
                        <option value="@item.Value" @(item.Value == Model.BOMDOCTYPE ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="BOMDOCNUM">Ürün Ağacı Kodu</label>
        <input type="text" id="BOMDOCNUM" name="BOMDOCNUM" class="form-control" value="@Model.BOMDOCNUM" />
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>