@model IEnumerable<KurumsalProje.ViewModels.RouteViewModel.RouteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Rotalar</h2>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Firma Kodu</th>
            <th>Ürün Ağacı Tipi</th>
            <th>Ürün Ağacı Kodu</th>
            <th>Malzeme Tipi</th>
            <th>İş Merkezi Tipi</th>
            <th>Miktar</th>
            <th>Operasyon Kodu</th>
            <th>Bileşen Kodu</th>
            <th>Geçerlilik Başlangıç</th>
            <th>Geçerlilik Bitiş</th>
            <th>Silindi mi ?</th>
            <th>Pasif mi ?</th>
            <th>Detaylar</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.COMCODE</td>
                <td>@item.ROTDOCTYPE</td>
                <td>@item.ROTDOCNUM</td>
                <td>@item.MATDOCTYPE</td>
                <td>@item.WCMDOCTYPE</td>
                <td>@item.QUANTITY</td>
                <td>@item.OPRDOCTYPE</td>
                <td>@item.COMPONENT</td>
                <td>@item.ROTDOCFROM.ToShortDateString()</td>
                <td>@item.ROTDOCUNTIL.ToShortDateString()</td>
                <td>@(item.ISDELETED == 1 ? "Evet" : "Hayır")</td>
                <td>@(item.ISPASSIVE == 1 ? "Evet" : "Hayır")</td>
                <td><a href="@Url.Action("Details", "Routes", new { comcode = item.COMCODE, rotdoctype = item.ROTDOCTYPE, rotdocnum = item.ROTDOCNUM })" class="btn btn-primary">Detaylar</a></td>
                <td><a href="/Routes/Delete/@item.COMCODE" class="btn btn-danger">Sil</a></td>
                <td><a href="@Url.Action("Edit", "Routes", new { comcode = item.COMCODE, rotdoctype = item.ROTDOCTYPE, rotdocnum = item.ROTDOCNUM })" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Routes")" class="btn btn-success">Yeni Kayıt Ekle</a>
